body{
    width:100%;
    max-width:800px;
    margin:0 auto;
    background:white;
    font-family:sans-serif;

}
.container{
    width:100%;
    max-width:800px;
    margin:0 auto;
}
.head{
    width:100%;
    max-width:500px;
    margin:0 auto;
    display:flex;
    justify-content:space-around;
}.head img{
  width:100px
}.head h2{
    font-weight:300;
    margin-top:40px;
}

a{text-decoration:none;color:royalblue;}

.di_cont{
    width:100%;
    max-width:400px;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:50px;
    /* ADD FLEX ON DIFF SCREEN */
}.di_cont .f_box{
    width:100%;
    max-width:400px;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:10px;
    display:flex;
    justify-content:space-around;

}.di_cont .f_box .w_box{
    width:100%;
    max-width:110px;
    box-shadow:0 0 5px grey;
    cursor: pointer;
}.di_cont .f_box .w_box img{
    width:100%;
    height:150px;

}.di_cont .f_box .w_box p{
    font-size:13px;
    text-align:center;
    margin:0;
    padding-top:10;
    padding-bottom:10;
}
.recom_box{
    width:100%;
    max-width: 400px;
    margin:0 auto;
}.recom_box h2{
    font-weight:200;
    color:#808080;
}.recom_box .w_f_cont{
    width:100%;
    max-width:400px;
    margin:0 auto;
    /* ADD DISPLAY FLEX OM DIFF SCREEN */
}.recom_box .w_f_cont fieldset{
    width:100%;
    max-width:250px;
    margin:0 auto;
    padding:0px;
    box-shadow:0 0 10px #dee1e4;
    border:0px;
    margin-bottom:30px;
    cursor: pointer;
}.recom_box .w_f_cont fieldset p{
    /* width:100%; */
    /* max-width:200px;
    margin:0 auto; */
    margin:20px;

}.recom_box .w_f_cont fieldset p b{
    font-size:40px;
    color:#4a4a4c;
}.recom_box .w_f_cont fieldset p span{
    font-size:13px;
    color:#4a4a4c;
}.recom_box .w_f_cont fieldset p del{
    font-weight:200;
}.recom_box .w_f_cont fieldset p h3{
    color:red;
}










@media(min-width:850px){
    body{
        width:100%;
        max-width:850px;
        margin:0 auto;
        background:white;
        font-family:sans-serif;
    
    }
    .container{
        width:100%;
        max-width:850px;
        margin:0 auto;
    }
    .head{
        width:100%;
        max-width:800px;
        margin:0 auto;
        display:flex;
        justify-content:space-around;
    }.head img{
      width:100px
    }.head h2{
        font-weight:300;
        margin-top:40px;
    }
    
    a{text-decoration:none;color:royalblue;}
    
    .di_cont{
        width:100%;
        max-width:800px;
        margin:0 auto;
        margin-top:50px;
        margin-bottom:50px;
        /* ADD FLEX ON DIFF SCREEN */
        display:flex;
        justify-content:space-around;
    }.di_cont .f_box{
        width:100%;
        max-width:400px;
        margin:0 auto;
        margin-top:20px;
        margin-bottom:10px;
        display:flex;
        justify-content:space-around;
    
    }.di_cont .f_box .w_box{
        width:100%;
        max-width:110px;
        box-shadow:0 0 5px grey;
        cursor: pointer;
    }.di_cont .f_box .w_box img{
        width:100%;
        /* height:100px; */
    
    }.di_cont .f_box .w_box p{
        font-size:13px;
        text-align:center;
        margin:0;
        padding-top:10;
        padding-bottom:10;
    }
    
    .recom_box{
        width:100%;
        max-width: 800px;
        margin:0 auto;
    }.recom_box h2{
        font-weight:200;
        color:#808080;
    }.recom_box .w_f_cont{
        width:100%;
        max-width:800px;
        margin:0 auto;
        /* ADD DISPLAY FLEX OM DIFF SCREEN */
        display:flex;
        justify-content:space-around;
    }.recom_box .w_f_cont fieldset{
        width:100%;
        max-width:250px;
        margin:0;
        padding:0px;
        box-shadow:0 0 10px #dee1e4;
        border:0px;
        margin-bottom:30px;
        cursor: pointer;
    }.recom_box .w_f_cont fieldset p{
        /* width:100%; */
        /* max-width:200px;
        margin:0 auto; */
        margin:20px;
    
    }.recom_box .w_f_cont fieldset p b{
        font-size:40px;
        color:#4a4a4c;
    }.recom_box .w_f_cont fieldset p span{
        font-size:13px;
        color:#4a4a4c;
    }.recom_box .w_f_cont fieldset p del{
        font-weight:200;
    }.recom_box .w_f_cont fieldset p h3{
        color:red;
    }
    


}